server:
  port: 8084

spring:
  application:
    name: report-service

  cloud:
    consul:
      host: consul
      port: 8500
      discovery:
        enabled: true
        register: true
        service-name: report-service
        health-check-url: http://report-service:8084/actuator/health
        health-check-interval: 10s
        fail-fast: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
